
<div class="">
  <nav ng-include="'views/templates/nav.html'"></nav>
</div>
  <!-- <h2>This is the blank calendar.html file</h2>
  {{calendar.testMessage}} -->
<div class="container ">
<!-- paulsContainer -->
  <!-- <table st-table="calendar.gigsList.list"> -->
  <table class="table table-bordered table-hover table-responsive paulsTable">

<!-- table-responsive table-condensed  vertical-center -->
    <!-- <table st-table="displayedCollection" st-safe-src="rowCollection"> -->

    <!-- http://lorenzofox3.github.io/smart-table-website/ -->
    <!-- class="table-responsive paulsTable vertical-center table table-bordered table-hover table-condensed" -->
    <!-- class="table table-striped" -->
            <thead>
                <tr>
                    <th>Gig</th>
                    <th>Address</th>
                    <th>Website</th>
                    <th>Date</th>
                    <th>SCheck</th>
                    <th>GigTime</th>
                    <th>Pay</th>
                    <th>Guitar</th>
                    <th>Trumpt</th>
                    <th>Bone</th>
                    <th>Sax</th>
                    <th>Keys</th>
                    <th>Bass</th>
                    <th>FVocals</th>
                    <th>Drums</th>
                    <th>MVocals</th>
                    <th>ProdPersn</th>
                    <th>ProdCost</th>
                    <th>ProdSize</th>
                </tr>
            </thead>
            <tbody>
                <tr class="paulsTableRow" ng-repeat="cal in calendar.gigsList.list">
                    <td><span editable-text="cal.gig" onaftersave="calendar.updateGigs(cal)">{{cal.gig || "empty"}}</span></td>

                    <td><a ng-href="http://maps.google.com/?q={{cal.address}}" target="_blank">map</a></td>
                    <td><a ng-href="{{cal.website}}" target="_blank">website</a></td>
                    <td><span>{{cal.date | date:'MM/dd/yyyy'}}</span></td>
                    <td><span editable-text="cal.soundcheck" onaftersave="calendar.updateGigs(cal)">{{cal.soundcheck}}</span></td>
                    <td><span editable-text="cal.start_end" onaftersave="calendar.updateGigs(cal)"> {{cal.start_end}}</span></td>
                    <td><span >{{cal.pay}}</span></td>
<!-- eventually put below in separate container or table? or have them in an ng-if -->
                    <td><span editable-text="cal.guitar" onaftersave="calendar.updateGigs(cal)">{{cal.guitar || "empty"}}</span></td>
                    <td><span editable-text="cal.trumpet" onaftersave="calendar.updateGigs(cal)">{{cal.trumpet || "empty"}}</span></td>
                    <td><span editable-text="cal.trombone"onaftersave="calendar.updateGigs(cal)">{{cal.trombone || "empty"}}</span></td>
                    <td><span editable-text="cal.sax"onaftersave="calendar.updateGigs(cal)">{{cal.sax || "empty"}}</span></td>
                    <td><span editable-text="cal.keys"onaftersave="calendar.updateGigs(cal)">{{cal.keys || "empty"}}</span></td>
                    <td><span editable-text="cal.bass"onaftersave="calendar.updateGigs(cal)">{{cal.bass || "empty"}}</span></td>
                    <td><span editable-text="cal.female_vocals"onaftersave="calendar.updateGigs(cal)">{{cal.female_vocals || "empty"}}</span></td>
                    <td><span editable-text="cal.drums"onaftersave="calendar.updateGigs(cal)">{{cal.drums || "empty"}}</span></td>
                    <td><span editable-text="cal.male_vocals"onaftersave="calendar.updateGigs(cal)">{{cal.male_vocals || "empty"}}</span></td>
                    <td><span editable-text="cal.prod_person"onaftersave="calendar.updateGigs(cal)">{{cal.prod_person || "empty"}}</span></td>
                    <td><span editable-text="cal.prod_cost"onaftersave="calendar.updateGigs(cal)">{{cal.prod_cost || "empty"}}</span></td>
                    <td><span editable-text="cal.prod_size"onaftersave="calendar.updateGigs(cal)">{{cal.prod_size || "empty"}}</span></td>
                </tr>
            </tbody>

        </table>
</div>
