<!-- video background onload -->
<!-- <div class="fullscreen-bg">
    <video loop muted autoplay poster="" class="fullscreen-bg__video">
        <source src="css/btbtbt.mp4" type="video/mp4">
    </video>
</div> -->

<!-- BigToe website link -->
<div class="">
  <a href="http://www.bigtoeandthejam.com" target="_blank"><img alt="Big Toe and the Jam logo" src="css/BTJ_2015_01.svg" class="bigToeLogoLink"></a>
</div>


<!-- <i class="fa fa-facebook-official paulsFontAwesome bigToeLogoLink" style="font-size:48px;"></i> -->

<!-- Requests Table -->
<div class=" container col-xs-12">
    <input ng-model="login.newSong.song" placeholder="Song" class="requestInput text-center">
    <input ng-model="login.newSong.artist" placeholder="Artist" class="requestInput text-center">
    <input ng-model="login.newSong.requester" placeholder="Your Name" class="requestInput text-center">
</div>
    <div class="col-xs-12">
        <button ng-click="login.addSong()" type="button" class="btn btn-primary btn-lg requestButton">Request a Song!</button>
        <div class="animated infinite bounce">
          <i class="fa fa-arrow-up paulsFontAwesome" style="font-size:50px;"></i>
        </div>
    </div>

    <div class="col-xs-12">
        <table class="table table-condensed table-sm paulsTable borderRadius">
            <thead class="requestsTableHead">
                <tr class="requestsTableRows">
                    <td>Song</td>
                    <td>Artist</td>
                    <td>Requested by</td>
                </tr>
            </thead>
            <tbody>
                <tr class="requestsTableRows" ng-repeat="song in login.songsList.list">
                    <td>{{song.song}}</td>
                    <td>{{song.artist}}</td><br>
                    <td>{{song.requester}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- Band Members Login -->
<!-- <div class="container"> -->
    <div class="container loginButton">
        <button ng-click="login.logIn()" type="button" class="btn btn-primary"><i class="fa fa-sign-in paulsFontAwesome" style="font-size:48px;"></i>I'm In The Band</button>
    </div>
<!-- </div> -->
