body {
    background:  #000000 url(BTJ_2015_01.svg) no-repeat;
    background-attachment: fixed;
    background-size: 60%;
    text-align: center;
    background-position: center;
}

.loginButton {
  opacity: .7 !important;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





#mp3sdiv {
  background: url(jukebox.jpg) !important;
  background-attachment: fixed !important;
  background-size: 100vw !important;
  text-align: center !important;
  width: 100vw !important;
}

.paulsContainer {
  width: 70%;
  background-position: center;
  text-align: center;
}

.paulsTable {
  background-color: #F8F8F8;
  padding: 0px;
  font-weight: bold;
  color: #000000;
}

.gigsTable {
  font-size: 10px;
    opacity: .9;
}

.mp3sTable{
  font-size: 14px;
    opacity: .8;
}

.chartsTable{
  font-size: 14px;
    opacity: .8;
}

.table-bordered>tbody>tr>td:nth-child(1), .table-bordered>thead>tr>th:nth-child(1) {
  width: 100px;
  background-color: yellow;
  font-size: 12px;
}

.loginContainer {
  padding: 120px;
  opacity: .9;
  width: 100%;
  color: black;
  background-position: center;
}
.welcome{
  background-color: #ffffff;
}
