@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background:  #000000 url(BTJ_2015_01.svg) no-repeat;
    background-attachment: fixed;
    background-size: 55%;
    text-align: center;
    background-position: center;
    /*padding: 10px;*/
    font-family: 'actor';
}

.container {
    /*width: 60%;*/
    /*background-size: 60%;*/
    /*background-position: center;*/
    /*text-align: center !important;*/
    /*box-shadow: 25px 25px 25px 25px rgba(0,0, 0, 0.8);*/
    /*box-shadow: 5px 5px 30px rgba(0,0, 0, 0.8);*/
}


.table {
  background-color: #F8F8F8;
  font-weight: bold;
      opacity: .9;
      font-size: 1.2em;
      box-shadow: 25px 25px 25px 25px rgba(0,0, 0, 0.8);
      /*box-shadow: 5px 5px 20px rgba(0,0, 0, 0.8);*/
}


 .bigToeLogoLink {
  width: 2em;
  height: 2em;
}

.paulsFontAwesome !important{
  font-size:48px;
  color: white !important;
  opacity: .9;
}

.requestInput {
    font-size: 1.4em;
      opacity: .9;
}
.requestButton {
  opacity: .7;
  font-size: 1.5em;
  border-radius: none;
}

.requestsTableHead {
  color: #F08080;
}
/*.requestsTableRows{
  margin: 0px;
  padding: 0px;
  text-align: left;
}*/
/*.requestedSongsTable {
    opacity: .7;
    font-size: 1.6em;
    box-shadow: 25px 25px 25px 25px rgba(0,0, 0, 0.8);
}*/

.loginButton {
  opacity: .7 !important;
  font-size: 1.1em;
  text-align: right;
  margin: 0px;
  padding: 0px;
  /*box-shadow: 15px 15px 20px rgba(0,0, 0, 0.8);*/
}

audio:hover, audio:focus, audio:active  {
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);

-webkit-transform: scale(1.02);
-moz-transform: scale(1.02);
transform: scale(1.02);
}
audio  {
  width: 150px;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;

-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;

-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background: black;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.borderRadius {
  border-radius: .6em !important;
}
