<!--the hashbang stuff goes here-->

<!-- <nav ng-controller="LoginController as login" class="">


    <div class="">
        <button type="button" class="btn btn-lg btn-default navbar-btn"><a href="#!requests">Requests</a></button>
        <button type="button" class="btn btn-lg btn-default navbar-btn currentNav"><a href="#!gigs">Gigs</a></button>
        <button type="button" class="btn btn-lg btn-default navbar-btn"><a href="#!players">Musicians</a></button>
        <button type="button" class="btn btn-lg btn-default navbar-btn"><a href="#!mp3s">MP3s</a></button>
        <button type="button" class="btn btn-lg btn-default navbar-btn"><a href="#!charts">Charts</a></button>
        <button type="button" class="btn btn-lg btn-default navbar-btn"><a href="#!contacts">Contact</a></button>
        <button type="button" class="btn btn-lg btn-default navbar-btn"><a href="#!setlists">Setlists</a></button>
        <button type="button" class="btn btn-lg btn-default navbar-btn"><a href="#!video">Video</a></button>
        <button type="button" class="btn btn-lg btn-danger navbar-btn currentNav" ng-click="login.logOut()">Log Out</button>

    </div>

</nav> -->


<!-- Ed stuff -->

<!--the hashbang stuff goes here-->
<nav ng-controller="LoginController as login" class="navbar navbar-toggleable-xs navbar-inverse static-top">

<div class="navbar-header">
  <a class="navbar-brand" href="http://www.bigtoeandthejam.com" target="_blank"><img alt="Big Toe and the Jam logo" src="css/BTJ_2015_01.svg" class="bigToeLogoLink"></a>

  <button type="button" class="navbar-toggle navbar-toggle-right" ng-click="login.toggleNav()">
    <span class="sr-only">Toggle Navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>

  </button>
</div>

  <ul class="nav navbar-nav navbar-right list-unstyled navbar-collapse" uib-collapse="login.isCollapsed">
    <li class="nav-item"><a class="nav-link" href="#!requests">Requests</a></li>
    <li class="nav-item"><a class="nav-link" href="#!gigs">Gigs</a></li>
    <li class="nav-item"><a class="nav-link" href="#!players">Players</a></li>
    <li class="nav-item"><a class="nav-link" href="#!mp3s">mp3s</a></li>
    <li class="nav-item"><a class="nav-link" href="#!charts">Charts</a></li>
    <li class="nav-item"><a class="nav-link" href="#!contacts">Contacts</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="#!setlists">Setlists</a></li> -->
    <li class="nav-item"><a class="nav-link" href="#!video">Video</a></li>
    <button type="button" class="btn btn-sm btn-danger navbar-btn" ng-click="login.logOut()">Log Out</button>
  </ul>
</nav>
